.OutputList {
  width: auto;
}
.OutputList ul {
  margin: 0px;
  padding: 20px;
}
.OutputList li {
  list-style-type: none;
  padding: 5px;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.OutputList li:hover {
  opacity: 0.9;
  background-color: grey;
}
