.container {
  margin: 0px;
  padding: 0px;
}
.icon {
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  cursor: pointer;
  transition: all 0.5s;
}
.icon:hover {
  opacity: 0.8;
}
